<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Screen Designer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
    
        <li class="nav-item" routerLinkActive="active">
         
            <a class="nav-link"  routerLink="">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
         
            <a class="nav-link"  routerLink="/grapesjs">GrapesJs</a>
          </li>
            
        <li>
           
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Action - 1</button>
                      <button ngbDropdownItem>Another Action</button>
                      <button ngbDropdownItem>Something else is here</button>
                    </div>
                </div>
        </li>
       
      </ul>
    </div>
  </nav>
 -->

 <ul ngbNav   class="nav-tabs justify-content-center">
    <li ngbDropdown class="nav-item">
      <br>
      <select class="form-select form-select-lg mb-3" #langselect (change)="translate.use(langselect.value)" id="">
        <option value="">Choose Language</option>
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
      </select>
     
      <!-- <select class="form-select form-select-lg mb-3" name="langChange" (ngModelChange)="languageChange($event)"    
      [(ngModel)]="languageCode" id="">
      <option class="language-select" *ngFor='let item of languages' [ngValue]='item.languageCode'>    
        {{item.languageName}}</option>  
      </select> -->
    </li>
  </ul>

  
